:root {
    --WW-w: 15vw;
}

#shadow1 {
    display: block;
    width: 100%;
    height: var(--WW-w);
    background-color: blueviolet;
    box-shadow: 1em 1em red;
}
#shadow2 {
    display: block;
    width: 100%;
    height: var(--WW-w);
    background-color: blueviolet;
    box-shadow: 1em 1em red inset;
}
#showaw > span {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-items: center;
    min-width: 15em;
}
#showaw {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

#shadow3 {
    width: 100%;
    height: var(--WW-w);
    background-color: blueviolet;
    box-shadow: 1em 1em 1em red;
}
#shadow4 {
    width: 100%;
    height: var(--WW-w);
    background-color: blueviolet;
    box-shadow: 1em 1em 1em 1em red;
}

#shadow5 {
    width: 100%;
    height: var(--WW-w);
    background-color: blueviolet;
    box-shadow: 1em 1em 1em red inset;
}
#shadow6 {
    width: 100%;
    height: var(--WW-w);
    background-color: blueviolet;
    box-shadow: 1em 1em 1em 1em red inset;
}

#shadow7 {
    width: 100%;
    height: var(--WW-w);
    background-color: blueviolet;
    box-shadow: 
      0.6em 0.6em 0.5em rgb(255, 87, 87),
      0.9em 0.9em 0.5em rgb(255, 51, 51),
      1.2em 1.2em 0.5em rgb(57, 0, 0);
}
#shadow8 {
    width: 100%;
    height: var(--WW-w);
    background-color: blueviolet;
    box-shadow: 
      0.2em 0.2em black,
      0.4em 0.4em yellow,
      0.6em 0.6em blue,
      0.8em 0.8em red,
      1em 1em green,
      1.2em 1.2em purple;
}

#filter {
    display: flex;
    width: 100%;
    height: var(--WW-w);
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    border: 0.5em dashed red;
    filter: 
      drop-shadow(5px 5px 1px rgba(0, 0, 0, 50%)) ;
}

#shape {
    display: block;
    float: left;
    display: flex;
    border-radius: 50%;
    aspect-ratio: 1;
    height: var(--WW-w);
    background-color: brown;
    shape-outside: circle(50%);
}

#linkW:active { color: red; }
#linkW:hover { color: white; }

#je-suis:link {
    color: rgb(51, 102, 204); 
}
#je-suis:visited { color: rgb(51, 102, 204); }
#je-suis:hover { 
  color: rgb(48, 86, 169);
  text-decoration: underline; 
}
#je-suis:active { color: rgb(35, 53, 102); }
#je-suis::after { content: none;} 

#ex-link:link {
    color: rgb(51, 102, 204); 
}
#ex-link:visited { color: rgb(51, 102, 204); }
#ex-link:hover { 
  color: rgb(48, 86, 169);
  text-decoration: underline; 
}
#ex-link:active { color: rgb(35, 53, 102); }
#ex-link::after { content: none;}
#ex-link[href^='http']::after {
    all: unset;
    content: '';
    display: inline-block;
    background-image: url('../../source/Crocco.png');
    background-image: url('https://img.icons8.com/?size=100&id=WJSemqLz9BWP&format=png&color=000000');
    background-size: 100% 100%;
    height: 1em;
    translate: 0 0.1em;
    aspect-ratio: 1;
}

.one-mark::marker {
    content: '1) ';
}
.two-mark::marker {
    content: '2) ';
}


.scrollable {
    width: 100%;
    height: 20vh;
    overflow: auto;
    display: flex;
}
.scrollable div {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    font-size: 8vh;
    font-weight: bold;
}
.scrollable div:nth-child(1) {
    background-color: brown;
}
.scrollable div:nth-child(2) {
    background-color: antiquewhite;
}
.scrollable div:nth-child(3) {
    background-color: darkslategrey;
}
.scrollable div:nth-child(4) {
    background-color: whitesmoke;
}

#scrollY1 {
    scroll-snap-type: x mandatory;
}
#scrollY2 {
    scroll-snap-type: x proximity;
}

.scrollable.scroll-me div {
    width: 70%;
}
.scrollable.center div {
    scroll-snap-align: center;
}
.scrollable.end div {
    scroll-snap-align: start end;
}
.scroll-me {
    scroll-snap-type: x mandatory;
}
.stop div {
    scroll-snap-stop: always;
}

.spad div {
    scroll-margin-left: 20px;
}
.smar {
    scroll-padding-left: 30px;
}