<!DOCTYPE html>
<html lang="it">
    <head>
        <!-- Redirect a non .html -->
        <script src="../../source/redirect.js" defer></script>

        <!-- Base Config -->
        <title class="htmlCodeTitle">Appunti | Template</title>
        <meta class="htmlCodeChar" charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Resources Loading -->
        <link rel="stylesheet" href="../../source/notes_general.css" type="text/css" />
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="../../source/navstyle.css" type="text/css" />
        <script type="module" src="../../source/Navigazione.js"></script>
        <link rel="icon" sizes="32x32" href="../../source/Crocco.png" type="image/x-icon" />
        <script src="../../source/highlight.js"></script>

        <!-- Generic tags -->
        <meta class="htmlCodeAuthor" name="author" content="Italo Corraro" />
        <meta class="htmlCodeDescription" name="description" content="Questo sito è un set privato di appunti." />

        <!-- Open Graph tags -->
        <meta property="og:title" content="Appunti Italo" />
        <meta property="og:description" content="Questo sito è dedicato a una raccolta appunti privata." />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="it_IT" />
        <meta property="og:url" content="https://italocorraro.github.io/NotesRepo/Home/index.html" />
        <meta property="og:image" content="https://italocorraro.github.io/NotesRepo/Web_Dev/source/Crunch.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="799" />
        <meta property="og:image:height" content="400" />

        <!-- Twitter Card tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Appunti Italo" />
        <meta name="twitter:description" content="Questo sito è dedicato a una raccolta appunti privata." />
        <meta name="twitter:image" content="https://italocorraro.github.io/NotesRepo/Web_Dev/source/Crunch.png" />    
        <meta class="htmlCodeAuthor" name="author" content="Italo Corraro" />
    </head>
    <body class="content">
        <!-- Header -->
        <header class="main_header">
            <h1>Appunti</h1>
            <aside class="sidebar_right">
                <nav id="indice"></nav>
            </aside>
            <section>
                <p>Questa pagina copre l'argomento .</p>
                <h2>Overview</h2>
                <div>
                    <p>                       
                    </p>
                </div>
            </section>
        </header>
        <!-- Corpo -->
        <main>
            <article>
                <h2></h2>
                <div>
                    <p></p>
                    <section>
                        <h3></h3>
                        <p></p>
                    </section>
                </div>
            </article>
        </main>
        <!-- Import Functionalities -->
        <script src="../../source/functionalities.js"></script>
    </body>
</html>