* {
    box-sizing: border-box !important;
}
body {
    margin: 0;
    padding: 0 10px;
    overflow-x: hidden;
}
.content {
    width: 100%;
    margin: 80px 0 0;
    padding: 0 10px 0;
}
.headbar {
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 500;
    background-color: bisque;
}
#navbar {
    position: fixed;
    left: 0;
    top: 80px;
    border-top: 4px inset bisque;
    width: 0;
    height: calc(100% - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: bisque transparent;
    background-color: #333;
    display: block;
    z-index: 101;
    transition: 0.3s;
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-user-select: none;
    user-select: none;
    & li {
        list-style-type: circle;
        margin-left: 10px;
        margin-top: 10px;
        text-decoration: none;
        color: antiquewhite;
        transition: 0.3s;
        &:hover {
            list-style-type: disc;
            background-color: #444;
            transform: translate(2px, 0);
        }
        &.flip:hover {
            list-style-type: square;
        }
        & a, span {
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            font-size: inherit;
            padding-left: 10px;
            padding-right: 10px;
            &:hover {
                background-color: brown;
            }
        }
    }
}
.panel {
    display: none;
}
li.active {
    list-style-type: square !important;
}
#navbar.navactive {
    width: 100%;
    z-index: 900;
}

.navtoggle {
    position: fixed !important;
    top: 20px;
    right: 30px;
    z-index: 1000;

}

#navtoggle2 {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-225deg);
  background-color: brown;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(225deg);
  background-color: brown;
}

#toctoggle {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 101px;
    width: 40px;
    height: 40px;
    z-index: 1000;
    transition: 0.3s;
}

.square1, .square2 {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: block;
    position: absolute;
    transition: 0.3s;
}

.square1 {
    background-color: chocolate;
    left: 4px;
    top: 4px;
}
.square2 {
    background-color: orange;
    bottom: 4px;
    right: 4px; 
}

.tochange {
    & .square1 {
        transform: translate(12px, 12px);
        z-index: 1001;
    }
    & .square2 {
        transform: translate(-12px, -12px);
    }
}

#navtoggle.change + #toctoggle {
    z-index: 0 !important;
}

#HCswitch {
    display: block;
    position: fixed;
    z-index: 999;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 171px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-size: 14px;
    font-weight: bold;
    border: 0.125em solid chocolate;
    border-radius: 0.125em 0.4em;
    color: rgb(205, 135, 5);
    text-decoration: none;
    transition: 0.05s;
}
#HCswitch:hover {
    outline: 0.15em solid chocolate;
    outline-offset: 0.1em;
    border-color: orange;
    color: chocolate;
}
#HCswitch:active {
    background-color: rgb(252, 204, 113);
}
@media only screen and (min-width: 900px) {
    #HCswitch {
        height: 2.5em;
        width: 2.5em;
        font-size: 2rem;
        bottom: 1rem;
        right: 1rem;
        top: unset;
        background-color: antiquewhite;
    }
    #HCswitch:hover {
        width: 4em;
        height: 3em;
        font-size: 150%;
    }
}

.scrollLock {
    overflow-y: hidden !important;
}

@media only screen and (max-width: 900px){
    aside.sidebar_right {
        display: block;
        position: fixed;
        float: none;
        z-index: 0;
        top: 80px;
        right: 0;
        width: 0;
        height: calc(100% - 80px);
        border: 0;
        outline: 0;
        margin: 0;
        text-overflow: clip;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.3s;
        &.tocactive {
            width: 100%;
            z-index: 999;
            border-top: 4px inset bisque;
            overflow-y: auto;
            font-size: 2.6rem;
            & h3 {
                font-size: 3.2rem;
            }
        }
        & li::before {
        height: 2rem;
        width: 2rem;        
        transform: translate(-0.6rem, 0.5rem);
        border-radius: 0.2rem;
        }
        & li {
            
            align-items: center;
        }
    }
    #navbar.navactive ~ #touchlock, #toctoggle.tochange ~ #touchlock {
            position: fixed;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 200;
            background-color: transparent;
            -webkit-backdrop-filter: blur(0.1rem);
            backdrop-filter: blur(0.1rem);
            pointer-events: auto;
            transition: none;
    }
}
    
@media only screen and (min-width: 900px) {
    #navbar {
        left: 0;
        top: 0;
        right: auto;
        width: 30%;
        height: 100% !important;
        transition: none;
        font-size: 40px;
        border: 0 none;
        & li {
            margin-left: 20px;
            margin-top: 20px;
        }
    }
    .content {
        display: block;
        width: 70%;
        margin: 0 0 0 30%;
        overflow: hidden;
    }
    .headbar {
        display: none;
    }
    #navtoggle2.navtoggle {
        display: none;
    }
    #toctoggle {
        display: none;
    }
}