html, body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: var(--scroll-behavior);
    scrollbar-color: var(--scrollbar-color);
}
*, *::before, *::after {
    box-sizing: inherit;
}
*::before, *::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
button, input, select, textarea {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}
pre, code, kbd, samp {
    font-family: var(--font-family-monospace);
}

:where(:root),
:where(:host) {
    /* --scroll-behavior: smooth;
    --transition: 0.2s ease; */
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  text-underline-offset: var(--text-underline-offset);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}