/* Arg: 3 *
 * ### Variabili Globali Layout
 * START */
:root, :host {

    /* ## Tipografia Generale START*/

    /* # font-family */
    --font-family-serif: Georgia, 'Times New Roman', Times, serif;
    --font-family-sans: system-ui, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-family-monospace: ui-monospace, Menlo, Consolas, 'Courier New', Courier, monospace;
    --font-family: var(--font-family-sans);
    --font-family-header: var(--font-family-serif);

    /* # font-layout */
    --line-height: 1.5;
    --font-weight: 400;
    --code-font-weight: 500;
    --text-underline-offset: 0.1rem;
    --title-font-weight: 700;
    --title-font-size-increase: 0.25rem;
    --button-font-weight: 600;

    /* # spaziature */
    --spacing: 0.4rem;
    --block-spacing-vertical: ;
    --block-spacing-horizontal: ;
    --typography-margin-vertical: 0.9rem;
    --typography-padding-horizontal: 1.5rem;
    --inline-highlight-padding: 0.125rem 0.25rem;
    --form-element-spacing-vertical: 0.75rem;
    --form-element-spacing-horizontal: 1rem;
    --h1-spacing-top: 2.25rem;
    --h2-spacing-top: 2rem;
    --h3-spacing-top: 1.875rem;
    --h4-spacing-top: 1.675rem;
    --h5-spacing-top: 1.5rem;
    --h6-spacing-top: 1.375rem;
    --h1-spacing-bottom: 1.5rem;
    --h2-spacing-bottom: 1.2rem;
    --h3-spacing-bottom: 1rem;
    --title-spacing-bottom: 0.8rem;
    --title-line-height: 1.2;

    --list-indent: 2rem;

    /* ## Layout Blocchi START*/

    /* # contorni */
    --border-width: /* spessore bordo */;
    --border-radius: /* arrotondamento bordo */;
    --inline-block-border-radius: 0.2rem;
    --outline-width: 0.17rem;
    --form-el-outline-width: /* */;
    --button-padding: 0.25rem 0.4rem;
    --outline-offset: /* separazione tra bordo e outline */;  

    /* # ombreggiature */
    --box-shadow-focus: ;
    --control-shadow-active: ;

    --hover-outline-width: 0.085rem;
    --active-outline-width: 0.25rem;
    --focus-outline-width: ;

    --interactive-hover-box-shadow-size: 0 0 0.2em 0.2em;

    /* ## Layout Blocchi END*/

    --external-site-icon: '🔗';


    /* ## Tipografia Generale END*/
}

/* Arg: 1 *
 * ### Tipografia
 * START */

/*
 * Text-Blocks Typography *
 * ========================================================================== *
 */

/* Normalize misc block elements *
 * ============================= */

address, blockquote, dl, ol, ul, p, pre, table, .table-wrapper {
    margin-top: 0;
    margin-bottom: var(--typography-margin-vertical);
    font-style: normal;
    font-weight: var(--font-weight);
}
:where(section, article):has(>:is(h1, h2, h3, h4, h5, h6))
 :is(address, blockquote, dl, ol, ul, p, pre, table, .table-wrapper) {
    margin-bottom: calc(var(--typography-margin-vertical) * 0.5);
} 


/* Title elements *
 * ============== */

h1, h2, h3, h4, h5, h6 {
    color: var(--h-color-text);
    margin-top: var(--title-spacing-top);
    margin-bottom: var(--title-spacing-bottom);
    font-weight: var(--title-font-weight);
    line-height: var(--title-line-height);
    font-family: var(--title-font-family);
}
h1 {
    font-size: calc(1rem + 7*var(--title-font-size-increase));
    --title-spacing-top: var(--h1-spacing-top);
    margin-bottom: var(--h1-spacing-bottom);
}
h2 {
    font-size: calc(1rem + 5*var(--title-font-size-increase));
    --title-spacing-top: var(--h2-spacing-top);
    margin-bottom: var(--h2-spacing-bottom);
    /* title h2 will have underline-like border */
    border-bottom: 0.1rem solid var(--h-color-line-accent);
}
h3 {
    font-size: calc(1rem + 4*var(--title-font-size-increase));
    --title-spacing-top: var(--h3-spacing-top);
    margin-bottom: var(--h3-spacing-bottom);
}
h4 {
    font-size: calc(1rem + 3*var(--title-font-size-increase));
    --title-spacing-top: var(--h4-spacing-top);
}
h5 {
    font-size: calc(1rem + 2*var(--title-font-size-increase));
    --title-spacing-top: var(--h5-spacing-top);}
h6 {
    font-size: calc(1rem + var(--title-font-size-increase));
    --title-spacing-top: var(--h6-spacing-top);
}

hgroup {
    border-top: var(--separator-line-width) solid var(--h-color-line);
    border-bottom: var(--separator-line-width) solid var(--h-color-line);
}

/* # articoli e sezioni */
/* section, article {
    margin-bottom: var(--block-spacing-vertical);
}
:where(section, article) > :last-child {
    margin-bottom: 0;
} */


/* Text container *
 * ============== */

.text-container > * {
    padding: 0 var(--typography-padding-horizontal);
}


/* Lists *
 * ===== */

ol, ul, dl {
    padding-left: var(--list-indent);
}
:where(ol, ul) li {
    margin-bottom: calc(var(--typography-margin-vertical) * 0.35);
}
:where(dl, ol, ul) :where(dl, ol, ul) {
    margin: 0;
    margin-top: calc(var(--typography-margin-vertical) * 0.35);
}
ul li {
    list-style: square;
    list-style-image: var(--list-marker-image);
}


/* Blockquote *
 * ========== */

blockquote {
    display: block;
    margin: var(--typography-margin-vertical) 0;
    padding: var(--spacing);
    background-color: var(--h-color-background-accent);
    border-right: none;
    border-left: 0.25rem solid var(--h-color-tre-line);
}
blockquote footer {
    margin-top: calc(var(--typography-margin-vertical) * 0.5);
    color: var(--h-color-text-muted);
}


/*
 * Inline Text Typography *
 * ========================================================================== *
 */

/* strong */
strong {
    color: var(--h-color-two);
}

/* underline */
u {
    text-decoration: underline wavy;
    text-decoration-color: var(--h-color-one-line-alt);
}

/* code & kbd input */
code {
    color: var(--h-color-text-accent);
    font-weight: var(--code-font-weight);
    background-color: var(--h-color-background-alt);
    padding: var(--inline-highlight-padding);
    border-radius: var(--inline-block-border-radius);
}
kbd {
    font-weight: bold;
    color: var(--h-color-text-inverse);
    background-color: var(--h-color-background-inverse);
    padding: var(--inline-highlight-padding);
    border-radius: var(--inline-block-border-radius);
}

/* highlighted text */
mark {
    padding: var(--inline-highlight-padding);
    background-color: var(--h-color-tre-alt);
    color: var(--h-color-text-accent);
    vertical-align: baseline;
}

/* insert text */
ins {
    color: var(--h-color-text-accent);
    background-color: var(--h-color-background-ins);
    text-decoration: none;
}

/* removed text */
del {
    color: var(--h-color-text-muted);
    background-color: var(--h-color-background-del);
}

/* user's text selection */
::-moz-selection, ::selection {
    background-color: var(--h-color-tre-accent);
    color: var(--h-color-text-accent);
}


/* Links *
 * ===== */

:where(a:not([role=button])),
[role=link] {
    outline: none;
    color: var(--h-color-one);
    -webkit-text-decoration: var(--text-decoration);
    text-decoration: var(--text-decoration);
    text-underline-offset: 0.125em;
    transition: color var(--transition), outline var(--transition), -webkit-text-decoration var(--transition);
    transition: color var(--transition), text-decoration var(--transition), outline var(--transition);
    transition: color var(--transition), text-decoration var(--transition), outline var(--transition), -webkit-text-decoration var(--transition);
}
:where(a:not([role=button])):is(:hover, :active, :focus),
[role=link]:is(:hover, :active, :focus) {
    --text-decoration: underline;
}
:where(a:not([role=button])[href^=\#]):is(:hover, :active, :focus),
[role=link]:is(:hover, :active, :focus) {
    --text-decoration: underline dashed;
}
:where(a:not([role=button])):active,
[role=link]:active {
    color: var(--h-color-one-accent);
}
:where(a:not([role=button])):visited, [role=link]:visited {
    color: var(--h-color-tre);
}
:where(a:not([role=button])):visited:active, [role=link]:visited:active {
    color: var(--h-color-tre-accent);
}
:where(a:not([role=button])):is([aria-current]:not([aria-current=false])), 
[role=link]:is([aria-current]:not([aria-current=false])) {
    color: var(--h-color-two);
}
:where(a:not([role=button])):is([aria-current]:not([aria-current=false])):active, 
[role=link]:is([aria-current]:not([aria-current=false])):active {
    color: var(--h-color-two-accent);
}
:where(a:not([role=button])):focus-visible,
[role=link]:focus-visible {
    outline: var(--outline-width) solid var(--h-color-line-accent);
}

:where(a:not([role=button]))[aria-disabled=true], [role=link][aria-disabled=true] {
    text-decoration: none;
    opacity: 0.6;
} 

:where(a:not([role=button]))[href^=http]::after {
    content: var(--external-site-icon);
}


/* Abbreviations & Tooltips *
 * ======================== */

:where([data-tooltip]) {
    cursor: help;
}
:where(abbr[title], [data-tooltip]) {
    position: relative;
}
:where(abbr[title], [data-tooltip])::before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 0);
    background-color: var(--h-color-two-alt);
    width: 1em;
    height: 0.4em;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    opacity: 0;
    pointer-events: none;
    transition: opacity calc(var(--transition)/2) ease, bottom var(--transition) ease;
}
:where(abbr[title], [data-tooltip])::after {
    content: attr(title);
    font-size: 90%;
    width: max-content;
    max-width: 20em;
    text-decoration: none;
    position: absolute;
    display: block;
    padding: var(--inline-highlight-padding);
    border-radius: var(--inline-block-border-radius);
    left: 50%;
    bottom: 120%;
    transform: translate(-50%, 0);
    background-color: var(--h-color-two-alt);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition) ease, bottom var(--transition) ease;
}
:where([data-tooltip])::after {
    content: attr(data-tooltip); 
}

:where(abbr[title], [data-tooltip]):hover::before {
    opacity: 1;
    bottom: 120%;
    transition-duration: var(--transition), var(--transition);
}
:where(abbr[title], [data-tooltip]):hover::after {
    opacity: 1;
    bottom: 140%;
}


/* Buttons *
 * ======= */

a[role=button] {
    display: inline-block;
}

button {
    margin: 0;
    overflow: visible;
    text-transform: none;
}

button, [type=submit], [type=reset], [type=button] {
    -webkit-appearance: button;
    appearance: button;
}

[type=submit], [type=reset], [type=button] {
  margin-bottom: var(--spacing);
}


button, 
[type=file]::file-selector-button, 
:is([type=submit], [type=reset], [type=button], [role=button]) {
    padding: var(--button-padding);
    background-color: var(--h-color-one-alt);
    color: var(--button-color);
    border-radius: var(--inline-block-border-radius);
    border: 0.1em solid var(--h-color-one-line-alt);
    font-weight: var(--button-font-weight);
    font-size: 1rem;
    line-height: var(--line-height);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: background-color var(--transition), border-color var(--transition), color var(--transition), border-width var(--transition);
}
[type=reset] {
    background-color: var(--h-color-tre-alt);
    border-color: var(--h-color-tre-line-alt);
}

/* hover state */
button:is(:hover, :active, :focus), 
[type=file]::file-selector-button:is(:hover, :active, :focus), 
:is([type=submit], [type=reset], [type=button], [role=button]):is(:hover, :active, :focus) {
    /* background-color: var(--h-color-one-alt-accent); */
    border-color: currentcolor;
    outline-color: var(--h-color-one-line-alt);
    outline-width: var(--hover-outline-width);
    outline-style: solid;
}
:is([type=reset]):is(:hover, :active, :focus) {
    outline-color: var(--h-color-tre-line-alt);
}

/* active state */
button:is(:active, :focus), 
[type=file]::file-selector-button:is(:active, :focus), 
:is([type=submit], [type=reset], [type=button], [role=button]):is(:active, :focus) {
    background-color: var(--h-color-one-alt-accent);
    border-color: var(--h-color-one-line-alt);
    outline-width: var(--active-outline-width);    
}
:is([type=reset]):is(:active, :focus) {
    background-color: var(--h-color-tre-alt-accent);
    border-color: var(--h-color-tre-line-alt);
}

/* focus */
/* button:focus-visible, 
[type=file]::file-selector-button:focus-visible, 
:is([type=submit], [type=reset], [type=button], [role=button]):focus-visible {

} */

/* aria-current */
/* button:is([aria-current]:not([aria-current=false])), 
[type=file]::file-selector-button:is([aria-current]:not([aria-current=false])), 
:is([type=submit], [type=reset], [type=button], [role=button]):is([aria-current]:not([aria-current=false])) {

} */

/* disabled */

button:is([disabled]:not([disabled=false])), 
[type=file]::file-selector-button:is([disabled]:not([disabled=false])), 
:is([type=submit], [type=button], [role=button]):is([disabled]:not([disabled=false])) {
    background-color: var(--h-color-one-alt-muted);
    border-color: var(--h-color-one-line);
    outline-width: 0;
    outline: none;
    pointer-events: none;
}
[type=reset]:is([disabled]:not([disabled=false])) {
    background-color: var(--h-color-tre-alt-muted);
    border-color: var(--h-color-tre-line);
    outline-width: 0;
    outline: none;
    pointer-events: none;
}

button:is([aria-busy]:not([aria-busy=false])), 
[type=file]::file-selector-button:is([aria-busy]:not([aria-busy=false])), 
:is([type=submit], [type=reset], [type=button], [role=button]):is([aria-busy]:not([aria-busy=false])) {
    outline-width: 0;
    outline: none;
    pointer-events: none;
    cursor: progress;
}


/* Tables *
 * ====== */

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    border: 0.2rem solid var(--h-color-line-accent);
    width: fit-content;
    background-color: var(--h-color-line-accent);
    text-wrap: normal;
}
.table-wrapper:has(+ .table-wrapper) {
    border-bottom: 0;
    margin-bottom: 0;
}
.table-wrapper > table {
    margin-bottom: 0;
}

table {
    width: 100%;
    border-spacing: 0;
    background-color: var(--h-color-background-alt);
    text-align: center;
    padding: 0.4em 0.6em;
    max-width: 100%;
    border-radius: 0.4em;
}
table :is(td,th) {
    padding: 0.3em 0.5em;
}
table tbody :is(th, td):not(:last-child) {
    border-right: 0.1em dashed var(--h-color-line-accent);
}
thead th {
    border-bottom: 0.1em dashed var(--h-color-line-accent)
}

/* tbody tr:nth-child(even) {
    background-color: var(--h-color-tre-alpha);
} */
tbody tr:nth-child(odd) {
    background-color: var(--h-color-tre-alpha);
}
table tr:hover {
    background-color: var(--h-color-background);
}


/* Figure *
 * ====== */

figure {
    display: block;
    margin: 0;
    padding: 0;
}
figure figcaption {
    padding: calc(var(--spacing) * 0.5) 0;
    color: var(--h-color-text-muted);
}


/* Horizontal Rule *
 * =============== */

hr {
    height: 0;
    margin: var(--typography-margin-vertical) 0;
    border: 0;
    border-top: var(--separator-line-width) solid var(--h-color-line);
    color: inherit;
}


/* Details + Summary *
 * ================= */

details {
    display: block;
    margin-bottom: var(--spacing);
}
details summary {
	font-size: 110%;
    list-style-type: none;
    cursor: pointer;
    transition: color var(--transition), border var(--transition);
	border-bottom: var(--border-width) solid transparent;
}
/* details summary:not([role]) {
    color: var(--accordion-close-summary-color);
} */
details summary::-webkit-details-marker {
    display: none;
}
details summary::marker {
    display: none;
}
details summary::-moz-list-bullet {
    list-style-type: none;
}
details summary::after {
  	display: block;
  	width: 1rem;
  	height: 1rem;
    position: relative;
    top: 0.3em;
  	float: right;
  	transform: rotate(-90deg);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http://www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpolygon%20points%3D%2712%204%2020%2020%204%2020%27%20fill%3D%27%23fff%27/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    content: '';
    transition: transform var(--transition);
}
details summary:hover, details[open] summary {
	border-bottom: var(--border-width) solid var(--h-color-line-accent);
}
details summary:focus {
  	outline: none;
}
/* details summary:focus:not([role]) {
  	color: var(--accordion-active-summary-color);
} */
details summary:focus-visible:not([role]) {
  outline: var(--outline-width) solid var(--h-color-line-accent);
  outline-offset: calc(var(--spacing, 1rem) * 0.5);
  color: var(--primary);
}
details summary[role=button] {
  width: 100%;
  text-align: left;
}
/* details summary[role=button]::after {
  height: calc(1rem * var(--line-height, 1.5));
} */
details[open] > summary {
  margin-bottom: var(--spacing);
}
details[open] > summary:not([role]):not(:focus) {
  color: var(--accordion-open-summary-color);
}

details[open] > summary::after {
  transform: rotate(-180deg);
}

details[open]::after {
	display: block;
	content: '';
	height: var(--spacing);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: var(--separator-line-width) dashed var(--h-color-line);
}


/**
 * Card (<article>)
 */
article {
  /* margin-bottom: var(--block-spacing-vertical); */
  margin-top: var(--h2-spacing-top);
  padding: 0;
  border-radius: var(--inline-block-border-radius);
  background: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
  border: var(--border-width) solid var(--h-color-line-accent);
}
article > * {
	padding: 0 var(--typography-padding-horizontal);
}
article > h3:first-child {
	margin-top: var(--h3-spacing-top);
}
article > h4:first-child {
	margin-top: var(--h4-spacing-top);
}
article > :is(header, h2, h3, h4):first-child,
article > footer:last-child {
	/* border: var(--border-width) solid var(--h-color-line-accent); */
  	margin-right: calc(var(--block-spacing-horizontal) * -1);
 	margin-left: calc(var(--block-spacing-horizontal) * -1);
  	background-color: var(--h-color-background-alt);
}
article > :is(header, h2, h3, h4):first-child {
  margin-top: calc(var(--block-spacing-vertical) * -1);
  /* margin-bottom: var(--block-spacing-vertical); */
  border-bottom-style: dashed;
  border-top-right-radius: var(--inline-block-border-radius);
  border-top-left-radius: var(--inline-block-border-radius);
}
article > footer:last-child {
  /* margin-top: var(--block-spacing-vertical);
  margin-bottom: calc(var(--block-spacing-vertical) * -1); */
  border-top-style: dashed;
  border-bottom-right-radius: var(--inline-block-border-radius);
  border-bottom-left-radius: var(--inline-block-border-radius);
}

/* :root {
    --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
  --icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  --icon-loading: url("data:image/svg+xml,%3Csvg fill='none' height='24' width='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cstyle%3E g %7B animation: rotate 2s linear infinite; transform-origin: center center; %7D circle %7B stroke-dasharray: 75,100; stroke-dashoffset: -5; animation: dash 1.5s ease-in-out infinite; stroke-linecap: round; %7D @keyframes rotate %7B 0%25 %7B transform: rotate(0deg); %7D 100%25 %7B transform: rotate(360deg); %7D %7D @keyframes dash %7B 0%25 %7B stroke-dasharray: 1,100; stroke-dashoffset: 0; %7D 50%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -17.5; %7D 100%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -62; %7D %7D %3C/style%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='10' fill='none' stroke='rgb(136, 145, 164)' stroke-width='4' /%3E%3C/g%3E%3C/svg%3E");

} */

progress[aria-busy=true] {
  height: 0;
  width: 0;
}

[aria-busy=true]::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 20'%3E%3Cstyle%3E circle%7Banimation:fade 1.4s ease-in-out infinite%7D circle:nth-child(1)%7Banimation-delay:0s%7D circle:nth-child(2)%7Banimation-delay:0.175s%7D circle:nth-child(3)%7Banimation-delay:0.35s%7D circle:nth-child(4)%7Banimation-delay:0.525s%7D circle:nth-child(5)%7Banimation-delay:0.7s%7D circle:nth-child(6)%7Banimation-delay:0.875s%7D circle:nth-child(7)%7Banimation-delay:1.05s%7D circle:nth-child(8)%7Banimation-delay:1.225s%7D @keyframes fade%7B0%25%7Bopacity:1%7D50%25%7Bopacity:.3%7D100%25%7Bopacity:1%7D%7D%3C/style%3E%3Cg%3E%3Ccircle cx='12' cy='2.5' r='1.6' fill='%23fff'/%3E%3Ccircle cx='17.3' cy='4.7' r='1.6' fill='%23fff'/%3E%3Ccircle cx='19.5' cy='10' r='1.6' fill='%23fff'/%3E%3Ccircle cx='17.3' cy='15.3' r='1.6' fill='%23fff'/%3E%3Ccircle cx='12' cy='17.5' r='1.6' fill='%23fff'/%3E%3Ccircle cx='6.7' cy='15.3' r='1.6' fill='%23fff'/%3E%3Ccircle cx='4.5' cy='10' r='1.6' fill='%23fff'/%3E%3Ccircle cx='6.7' cy='4.7' r='1.6' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    height: 1em;
    vertical-align: baseline;
    aspect-ratio: 1;
    background-size: 100% 100%;
    padding: 0;
}