<h4>Testo Evidenziato</h4>
<section>
    <h5>Grassetti</h5>
    <ul>
        <li><b>Grassetto &lt;b&gt;</b><br>
            per dare risalto a un elemento, ma senza conferirgli rilevanza semantica (principalmente per keyword e simili)</li>
        <li><strong>Grassetto &lt;strong&gt;</strong><br>
            per dare forte importanza al testo (semantico)</li>
    </ul>
</section>
<section>
    <h5>Corsivi</h5>
    <ul>
        <li><em>Corsivo &lt;emphasis&gt;</em><br>
            per fornire enfasi al testo (semantico)</li>
        <li><i>Corsivo &lt;i&gt;</i><br>
            per indicare parole o piccole frasi non per importanza, ma perché rapresenta un termine di un linguaggio specifico, termini tecnici, un idioma, alcuni nomi propri di cosa o nomi di libri 9se il testo è di un'altra lingua, andrebbe inserito anche l'attributo <i>lang</i> per indicarla)</li>
        <li><dfn>Corsivo &lt;dfn&gt;</dfn><br>
            per indicare il termine o la frase di cui si sta' fornendo una definizione o descrizione accurata (semantico)</li>
        <li><cite>citazione breve &lt;cite&gt;</cite><br>
            per riportare del testo da un'altra fonte, tipicamente solo il nome o titolo specifico della fonte e per un grosso blocco riportato si usa <i>blockquote</i></li>
    </ul>
</section>
<section>
    <h5>Altri Evidenziati</h5>
    <ul>
        <li><u>Testo Sbagliato &lt;u&gt;</u><br>
            per indicare una porzione di testo che contiene errori (tipicamente di sintassi)</li>
        <li><mark>Highlighted &lt;mark&gt;</mark><br>
            per indicare testo con una particolare rilevanza per il lettore (semantico)</li>
        <li><abbr title="Abbreviazione" >Abbr.</abbr><br>
            per riportare un termine abbreviato o una sigla; dev'essere accompagnato dall'attributo <i>title</i> per indicare il termine completo</li>
        <li><span data-tooltip="data-tooltip">Tooltip</span><br>
            per mostrare un tooltip tramite l'attributo <i>data-tooltip</i></li>
    </ul>
</section>
<section>
    <h5>Correzioni testo</h5>
    <ul>
        <li><del>Testo rimosso &lt;del&gt;</del><br>
            per rappresentare testo rimosso in seguito a modifica del documento (si accompagna a &lt;ins&gt; per mettere in risalto le parti modificate di un documento)</li>
        <li><ins>Testo aggiunto &lt;ins&gt;</ins><br>
            per rappresentare testo aggiunto in seguito a modifica del documento</li>
        <li><s>Testo barrato &lt;strikethrough&gt;</s><br>
            per rappresentare elementi non più rilevanti o accurati</li>
    </ul>
</section>
<section>
    <h5>Piccolo e Grande</h5>
    <ul>
        <li><small>Piccolo testo &lt;small&gt;</small><br>
            per rappresentare testo secondario, note di copyright, avvertenze ecc...</li>
        <li>Testo <sub>a pedice &lt;sub&gt;</sub><br>
            per testo a pedice (puramente visivo)</li>
        <li>Testo <sup>ad apice &lt;sup&gt;</sup><br>
            per testo ad apice (puramente visivo)</li>
    </ul>
</section>
<section>
    <h5>Snippet di codice</h5>
    <ul>
        <li><code>code</code><br>
            per rappresentare un frammento di codice di un programma per computer;<br>
            più linee di codice vanno raggruppate in un elemento &lt;pre&gt;</li> 
        <li><kbd>Kbd</kbd><br>
            per rappresentare input testuale da tastiera;<br>
            più linee di input vanno raggruppate in un elemento &lt;samp&gt;</li>
        <li><var>variabile &lt;var&gt;</var><br>
            per rappresentare una variabile matematica</li>
    </ul>
</section>

