
#spostata fieldset {
                position: relative;
            }
            #spostata legend {
                background-color: antiquewhite;
                position: absolute;
                bottom: 0;
                right: 0;
            }
.unappear form input {
    appearance: none;
}
.gridmas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 500px) {
    .gridmas {
        grid-template-columns: auto;
    }
}

.check {
    appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    vertical-align: -2px;
    border: 0.05em solid gray;
    background-color: white;
}
.check::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}
.check:checked::before {
    visibility: visible;
}
.check:disabled {
  border-color: black;
  background: #dddddd;
  color: gray;
}

.labelizzed {
    display: none;
}
.labelizzed + label {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    border: 0.05em solid gray;
    background-color: white;
}
.labelizzed + label::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  top: -0.3em;
  visibility: hidden;
}
.labelizzed:checked + label::before {
    visibility: visible;
}
.labelizzed:disabled + label {
  border-color: black;
  background: #dddddd;
  color: gray;
}

#sw {
    display: none;
}
#sw + label {
    display: inline-block;
    position: relative;
    width: 1.8em;
    height: 1em;
    border: 0.1em solid black;
    border-radius: 0.5em;
    background-color: white;
    transition: background-color 0.5s;
    top: 0.15em
}
#sw + label::before {
    content: '';
    background-color: black;
    position: absolute;
    border-radius: 50%;
    height: calc(100% - 0.2em);
    margin: 0.1em;
    aspect-ratio: 1;
    transition: left 0.5s;
    left: 0%;
}
#sw:checked + label {
    background-color: chartreuse;
}
#sw:checked + label::before {
    left: 50%;
}

#test-sel {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-color: transparent;
    border: 0;
    outline: 0;
}
span:has(> #test-sel) {
    font-family: inherit;
    background-color: white;
    border: 0.1em solid orange;
    padding: 0.1em;
}