---
import '../styles/archive/core-setup.css';
import '../styles/archive/typography.css';
import '../styles/archive/themes.css';
import '../styles/archive/animations.css';
import '../styles/archive/forms.css';

import '../styles/archive/temporary.css'
import '../styles/shiki-config.css';

import MainNavigation from '../components/MainNavigation.astro';
import FixedHeader from '../components/FixedHeader.astro';
import SkipToContent from '../components/SkipToContent.astro';

import SemanticInlines from '../components/Testing Elements/SemanticInlines.astro';

import TestPost from '../components/testing.md';
import { Image } from 'astro:assets';
import crocco from '../images/Crocco.png';

---

<html lang="it" >
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Preview • Test CSS</title>
    <meta name="description" content="A pure HTML example, without dependencies.">

    {/* latex stylesheet for math rendering */}
        <link href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" rel="stylesheet">
</head>

<body>
    <SkipToContent contentsId="#page-content"/>
    
    <FixedHeader logo={crocco} />

    <MainNavigation />

    <main>
        {/* Indice dei contenuti della pagina */}
        <aside id="toc-container" class="sidebar">
            <div id="toc-content">
            <h2>Indice</h2>
            <nav></nav>
            
            <p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p><p>Indice</p>
            </div>
        </aside>
        {/* Corpo del Main Principale */}
        <div id="main-body-container">
        {/* Breadcrumbs */}
        <nav id="breadcrumbs">
            <a href="../">before</a>
            /<a href="#">here</a>
        </nav>
        <section id="page-content" class="text-container">
            {/* Page Title and Description */}
            <hgroup>
                <h1 id="page-title">Page Title | Preview</h1>
                <p id="page-description">Questa è una preview dello stile della pagina</p>
            </hgroup>
            {/* Pure HTML Content */}
            <section id="pure-html">
                <h2>Tipografia</h2>
                <section>
                    <h3>Liste</h3>
                    <ul>
                        <li>Aliquam lobortis lacus eu libero ornare facilisis.</li>
                        <li>Nam et magna at libero scelerisque egestas.</li>
                        <li>Suspendisse id nisl ut leo finibus vehicula quis eu ex.</li>
                        <li>Proin ultricies turpis et volutpat vehicula.</li>
                    </ul>
                    <ol>
                        <li>Aliquam lobortis lacus eu libero ornare facilisis.</li>
                        <li>Nam et magna at libero scelerisque egestas.</li>
                        <li>Suspendisse id nisl ut leo finibus vehicula quis eu ex.</li>
                        <li>Proin ultricies turpis et volutpat vehicula.</li>
                    </ol>
                    <dl>
                        <dt>Lista Titolo</dt>
                        <dd>Lista a definizioni</dd>
                    </dl>
                </section>
                <section>
                    <h3>Blockquote</h3>
                    <blockquote>
                        "Maecenas vehicula metus tellus, vitae congue turpis hendrerit non. Nam at dui sit amet ipsum cursus ornare."
                        <footer>
                            <cite>- Phasellus eget lacinia</cite>
                        </footer>
                    </blockquote>
                </section>
                <section>
                    <h3>Separatore Orizzontale</h3>
                    <hr>
                </section>
                <section>
                    <h3>Elementi Testuali</h3>
                    <section id="link-target">
                        <h4>Link</h4>
                        <p><a href="./" >Link interno al sito</a></p>
                        <p><a href="#" aria-current="page">Link della pagina corrente</a></p>
                        <p><a href="#">Link interno alla pagina</a></p>
                        <p><a href="https://" target="_blank">Link esterno</a></p>
                        <p><a href="https://it.wikipedia.org/wiki/Automobilismo#Dal_1950_in_poi" target="_blank">Link visitato (cliccaci almeno una volta, tanto è wikipedia)</a></p>
                        <p><a href="h" aria-disabled="true">Link spento</a></p>
                        <script>
                            const generateRandomString = (length: number) => {
                                const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                                const charactersLength = characters.length;
                                let result = '';
                                const randomValues = new Uint32Array(length);
                                window.crypto.getRandomValues(randomValues);
                                randomValues.forEach((value) => {
                                    result += characters.charAt(value % charactersLength);
                                });
                                return result;
                            }
                            window.addEventListener('load', () => {
                                document.querySelectorAll('#link-target a[href]:not([href*=wikipedia])').forEach((link)=>{
                                    const att = link.getAttribute('href');
                                    const randomHash = generateRandomString(10);
                                    link.setAttribute('href', `${att}${randomHash}`);
                                })
                            })
                        </script>
                    </section>
                    <section>
                        <SemanticInlines />
                    </section>
                </section>
                <section id="form">
                    <h2>Elementi Form</h2>
                    <form>     
                        <fieldset>
                            <legend>Elementi Standard</legend>
                            {/* Search */}
                            <p>
                                <label for="search">Cerca:</label>
                                <input type="search" id="search" name="search" placeholder="Cerca...">
                            </p>
                            {/* Text */}
                            <p>
                                <label for="text">Campo di testo</label>
                                <input type="text" id="text" name="text" placeholder="Inserisci il tuo testo...">
                                <small>Curabitur consequat lacus at lacus porta finibus.</small>
                            </p>
                            {/* Select */}
                            <p>
                                <label for="select">Select</label>
                                <select id="select" name="select" required="">
                                    <option value="1" selected="">Select…</option>
                                    <option>…</option>
                                    <option value="2" selected="">Select…</option>
                                    <option>…</option>
                                    <option value="3" selected="">Select…</option>
                                    <option>…</option>    
                                    <optgroup label="optgroup">
                                        <option value="" selected="">Select…</option>
                                        <option>…</option>
                                    </optgroup>                            
                                </select>
                            </p>

                            <p>
                                <label for="input__password">Password</label>
                                <input id="input__password" type="password" placeholder="Type your Password">
                            </p>
                            <p>
                                <label for="input__webaddress">Web Address</label>
                                <input id="input__webaddress" type="url" placeholder="http://yoursite.com">
                            </p>
                            <p>
                                <label for="input__emailaddress">Email Address</label>
                                <input id="input__emailaddress" type="email" placeholder="name@email.com">
                            </p>
                            <p>
                                <label for="input__phone">Numero di Telefono</label>
                                <input id="input__phone" type="tel" placeholder="(999) 999-9999">
                            </p>
                            <p>
                                <label for="input__text2">Number Input</label>
                                <input id="input__text2" type="number" placeholder="Enter a Number">
                            </p>
                            
                            {/* File browser */}
                            <p>
                                <label for="file">Carica un File
                                    <input type="file" id="file" name="file">
                                </label>
                            </p>
                        </fieldset>   
                        
                        {/* Textarea */}
                        <fieldset>
                            <legend>Textareas</legend>
                            <label for="textarea">Textarea</label>
                            <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
                        </fieldset>

                        {/* Input HTML 5 */}
                        <fieldset >
                            <legend>HTML5 inputs</legend>
                            <p>
                                <label for="ic">Color input</label>
                                <input type="color" id="ic" value="#000000">
                            </p>
                            <p>
                                <label for="in">Number input</label>
                                <input type="number" id="in" min="0" max="10" value="5">
                            </p>
                            <p>
                                <label for="ir">Range input</label>
                                <input type="range" id="ir" value="10">
                            </p>
                            <p>
                                <label for="idd">Date input</label>
                                <input type="date" id="idd" value="1970-01-01">
                            </p>
                            <p>
                                <label for="idm">Month input</label>
                                <input type="month" id="idm" value="1970-01">
                            </p>
                            <p>
                                <label for="idw">Week input</label>
                                <input type="week" id="idw" value="1970-W01">
                            </p>
                            <p>
                                <label for="idt">Datetime input</label>
                                <input type="date" id="idt" value="1970-01-01T00:00:00Z">
                            </p>
                            <p>
                                <label for="idtl">Datetime-local input</label>
                                <input type="datetime-local" id="idtl" value="1970-01-01T00:00">
                            </p>
                        </fieldset>
                        {/* .\ Input HTML 5 */}
                        
                        {/* States */}
                        <fieldset>
                            <legend>Stati</legend>
                            <label for="valid">
                                Valido
                                <input type="text" id="valid" name="valid" placeholder="Valid"  aria-invalid="false">
                            </label>
                            <label for="invalid">
                                Invalido
                                <input type="text" id="invalid" name="invalid" placeholder="Invalid" aria-invalid="true">
                            </label>
                            <label for="disabled">
                                Spento/disabilitato
                                <input type="text" id="disabled" name="disabled" placeholder="Disabled" disabled="">
                            </label>
                        </fieldset>

                        {/* Checkboxes */}
                        <fieldset>
                            <legend>Checkboxes</legend>
                            <label for="checkbox-1">
                                <input type="checkbox" id="checkbox-1" name="checkbox-1" checked="">
                                Checkbox
                            </label>
                            <label for="checkbox-2">
                                <input type="checkbox" id="checkbox-2" name="checkbox-2">
                                Checkbox
                            </label>
                        </fieldset>

                        {/* Radio buttons */}
                        <fieldset>
                            <legend>Radio buttons</legend>
                            <label for="radio-1">
                                <input type="radio" id="radio-1" name="radio" value="radio-1" checked="">
                                Radio button
                            </label>
                            <label for="radio-2">
                                <input type="radio" id="radio-2" name="radio" value="radio-2">
                                Radio button
                            </label>
                        </fieldset>

                        {/* Switch */}
                        <fieldset>
                            <legend>Switches</legend>
                            <label for="switch-1">
                                <input type="checkbox" id="switch-1" name="switch-1" role="switch" checked="">
                                Switch
                            </label>
                            <label for="switch-2">
                                <input type="checkbox" id="switch-2" name="switch-2" role="switch">
                                Switch
                            </label>
                        </fieldset>

                        {/* Buttons */}
                        <fieldset>
                            <legend>input submit, button, reset e spento</legend>
                            <input type="submit" value="&lt;input type=submit&gt;">
                            <input type="button" value="&lt;input type=button&gt;">
                            <input type="reset" value="&lt;input type=reset&gt;">
                            <input type="submit" value="&lt;input disabled&gt;" disabled="">
                        </fieldset>
                        <fieldset>
                            <legend>button submit, button, reset e spento</legend>
                            <button type="submit">&lt;button type=submit&gt;</button>
                            <button type="button">&lt;button type=button&gt;</button>
                            <button type="reset">&lt;button type=reset&gt;</button>
                            <button type="button" disabled="">&lt;button disabled&gt;</button>
                        </fieldset>
                        
                        {/* Progress */}
                        <fieldset id="progress">
                            <legend>Progress bar</legend>
                            <progress id="progress-1" value="25" max="100"></progress>
                            <progress id="progress-2" aria-busy="true"></progress>
                        </fieldset>

                        {/* Loading */}
                        <fieldset id="loading">
                            <legend>Loading</legend>
                            <article aria-busy="true"></article>
                            <button aria-busy="true">Attendere prego…</button>
                        </fieldset>
                    </form>
                </section>
                {/* ./ Form elements*/}

                {/* Tables */}
                <section id="tables">
                    <h2>Tabelle</h2>
                    <div class="table-wrapper">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section id="accordions">
                    <h2>Accordions</h2>
                    <details>
                        <summary>Accordion 1</summary>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna diam, tincidunt nec porta sed, auctor id velit. Etiam venenatis nisl ut orci consequat, vitae tempus quam commodo. Nulla non mauris ipsum. Aliquam eu posuere orci. Nulla convallis lectus rutrum quam hendrerit, in facilisis elit sollicitudin. Mauris pulvinar pulvinar mi, dictum tristique elit auctor quis. Maecenas ac ipsum ultrices, porta turpis sit amet, congue turpis.
                        </p>
                    </details>
                    <details open="">
                        <summary>Accordion 2</summary>
                        <ul>
                            <li>Vestibulum id elit quis massa interdum sodales.</li>
                            <li>Nunc quis eros vel odio pretium tincidunt nec quis neque.</li>
                            <li>Quisque sed eros non eros ornare elementum.</li>
                            <li>Cras sed libero aliquet, porta dolor quis, dapibus ipsum.</li>
                        </ul>
                    </details>
                </section>
                <article id="article">
                    <h2>Article</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nam et, dolorem explicabo repellat tempore esse rerum, rem culpa soluta maiores repellendus corporis hic atque accusamus delectus magni debitis quasi?</p>
                    <footer>
                        <small>Duis nec elit placerat, suscipit nibh quis, finibus neque.</small>
                    </footer>
                </article>
                <dialog id="modal-example">
                    <article>
                        <header>
                            <button aria-label="Close" data-target="modal-example" ></button>
                            <h3>Sei sicuro?</h3>
                        </header>
                        <p>Cras sit amet maximus risus. Pellentesque sodales odio sit amet augue finibus pellentesque. Nullam finibus risus non semper euismod.</p>
                        <footer>
                            <button role="button" class="secondary" data-target="modal-example" >
                                Annulla
                            </button>
                            <button autofocus="" data-target="modal-example" >
                                Conferma
                            </button>
                        </footer>
                    </article>
                </dialog>
            </section>
            {/* Rendered Markdown Content */}
            <div id="markdown-content">
                <TestPost />
            </div>
        </section>
        </div>
    </main>
    <footer>
        copyright amirite?
    </footer>
    <script src="../scripts/on-startup.js"></script>
</body>
</html>