img { max-width: 100%; }
            #gradiente ~ p [contenteditable] {
                background-image: linear-gradient(to right, red, green, blue);
                color: aliceblue;
            }
            .immaginami {
                background-image: url('../../source/Crunch.png');
                color: beige;
            }
            #sovrapposition > div {
                width: 60vw;
                height: 40vw;
                background-image: 
                    url('../../source/Crocco.png'),
                    url('../../source/Crunch.png');
            }
            
            #attach span {
                display: block;
                width: 60vw;
                height: calc(20vw + 20vh);
                overflow-x: auto;
                background-image: 
                    url('../../source/Crunch.png');
            }
            #attach li:first-child span {
                background-attachment: scroll;
            }
            #attach li:nth-child(2) span {
                background-attachment: fixed;
            }
            #attach li:last-child span {
                background-attachment: local;
            }

            #repeato span {
                display: block;
                width: 60vw;
                height: max(38vw, 38vh);
                overflow-x: hidden;
                background-image: 
                    url('../../source/Crocco.png');
            }
            #repeato li:nth-child(2) span {
                background-repeat: repeat-x;
            }
            #repeato li:nth-child(3) span {
                background-repeat: repeat-y;
            }
            #repeato li:nth-child(4) span {
                background-repeat: no-repeat;
            }
            #repeato li:nth-child(5) span {
                background-repeat: space;
            }
            #repeato li:nth-child(6) span {
                background-repeat: round;
            }

            #position ~ .eg > [data-number] {
                display: block;
                width: 60vw;
                height: calc(20vw + 20vh);
                background-image: 
                    url('../../source/Crunch_directional.png');
            }
            #position ~ .eg > [data-number="1"] {
                background-position: left bottom;
            }
            #position ~ .eg > [data-number="2"] {
                background-position: right top;
            }
            #position ~ .eg > [data-number="3"] {
                background-position: center center;
            }
            #position ~ .eg > [data-number="4"] {
                background-position: 30% 5%;
            }

            #orig span {
                display: block;
                width: 60vw;
                height: max(38vw, 38vh);
                padding: 5vw;
                border: 5vw dotted yellowgreen;
                background-image: 
                    url('../../source/Crunch.png');
                background-size: cover;
            }
            #orig li:nth-child(2) span {
                background-origin: border-box;
            }
            #orig li:nth-child(3) span {
                background-origin: content-box;
            }

            #size .eg {
                width: 100%;
            }
            #size span {
                display: block;
                width: 100%;
                height: max(38vw, 38vh);
                border: 0.1em solid red;
                background-image: 
                    url('../../source/Crunch_long.png');
            }
            #size li:nth-child(2) span {
                background-size: contain;
            }
            #size li:nth-child(3) span {
                background-size: cover;
            }
            #size + .nota > span:first-child {
                display: block;
                width: 100%;
                height: max(38vw, 38vh);
                border: 0.1em solid red;
                background-image: 
                    url('../../source/Crunch_long.png');
                    background-size: 100% 100%;
                margin-bottom: 1rem;
            }

            #clip span {
                display: block;
                width: 60vw;
                height: max(38vw, 38vh);
                padding: 5vw;
                border: 5vw dotted yellowgreen;
                background-image: 
                    url('../../source/Crunch.png');
                background-size: cover;
            }
            #clip li:nth-child(2) span {
                background-clip: padding-box;
            }
            #clip li:nth-child(3) span {
                background-clip: content-box;
            }

            #target {
                display: block;
                width: 100%;
                height: max(48vw, 48vh);
                padding: 5vw;
                border: 5vw dotted yellowgreen;
                background-image: 
                    url('../../source/Crunch.png');
                margin: 1rem 0;
                background-size: cover;
            }

            #blend ~ .eg > span {
                display: block;
                width: 60vw;
                max-width: 100%;
                height: max(48vw, 48vh);
                background-image: 
                    url('../../source/Crocco.png'),
                    url('../../source/Crunch.png');
                background-blend-mode: normal, normal;
                background-repeat: no-repeat;
                background-size: auto, cover;
                background-position: center center, left top;
                margin: 1rem 0;
            }

            #troglet {
                display: block;
                width: 60vw;
                max-width: 100%;
                height: max(48vw, 48vh);
                background-image: 
                    url('../../source/Crocco.png'),
                    url('../../source/Crunch.png');
                background-blend-mode: multiply, normal;
                background-repeat: no-repeat;
                background-size: auto, cover;
                background-position: center center, left top;
                margin: 1rem 0;
            }

            .icon-c {
                display: block;
                width: 77px;
                height: 77px;
                background-image: url('../../source/Crocco\ 3x77.png');
            }
            .icon-c-orig {
                display: block;
                width: 231px;
                height: 77px;
                background-image: url('../../source/Crocco\ 3x77.png');
            }
            .icon-c-1 { background-position: 0 0; }
            .icon-c-2 { background-position: -77px 0; }
            .icon-c-3 { background-position: -154px 0; }

            [data-sprite-1] {
                width: 90%;
                aspect-ratio: 1 / 1;
                background-image: url('../../source/Crocco\ 3x77.png');
                background-size: cover;
            }
            [data-sprite-1="2"] {
                background-position: -100% -100% ;
            }
            [data-sprite-1="3"] {
                background-position: -200% 0 ;
            }
            
            div:has(> #buttons) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: 
                  'values ctrl'
                  'box ctrl'
                  'range ctrl';
                align-items: center;
                justify-items: center;
                width: 100%;
                gap: 0 2rem;
            }
            div:has(~ #buttons):first-child {
                grid-area: values;
                align-self: normal;
            }
            .grid-color {
                grid-area: box;
                --cols: 3;
                --rows: 3;
                --col: 0;
                --row: 0;
                aspect-ratio: 375/300;
                width: 100%;
                background: url('../../source/Grid-color.png') repeat;
                background-size: calc(100% * var(--cols)) calc(100% * var(--rows));
                background-position: calc(-100% * var(--col)) calc(-100% * var(--row));
            }
            form#buttons {
                grid-area: ctrl;
                display: grid;
                width: clamp(100px, 100% , 400px);
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: 
                  '. up . '
                  'left . right'
                  '. down .';
            }
            #buttons [value] {
                background-color: transparent;
                transition: 0,3s background-color;
                padding: 0;
                border: 0;
                cursor: pointer;
                --cols: 4;
                --rows: 1;
                --col: 0;
                --row: 0;
                aspect-ratio: 200/200;
                background: url('../../source/Arrows.png') repeat;
                background-size: calc(100% * var(--cols)) calc(100% * var(--rows));
                background-position: calc(-100% * var(--col)) calc(-100% * var(--row));
            }
            #buttons [value]:hover {
                background-color: chocolate;
                border-radius: 50%;
            }
            #buttons [value]:active {
                background-color: brown;
            }
            #buttons [value="up"] {
                --col: 2;
                grid-area: up;
            }
            #buttons [value="down"] {
                --col: 3;
                grid-area: down;
            }
            #buttons [value="left"] {
                --col: 1;
                grid-area: left;
            }
            #buttons [value="right"] {
                --col: 0;
                grid-area: right;
            }
            input:has(+ #buttons) {
                width: 100%;
                grid-area: range;
                align-self: flex-end;
            }


            #griddami {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                width: 100%;
                list-style-type: none;
                gap: 1rem;
            }
            #griddami li {
                width: 100%;
                align-content: end;
                justify-items: center;
            }
            #griddami li input {
                width: 100%;
            }
            .arrow-disable {
                background-image: url("../../source/Arrows-destur.png") !important;
            }
            .arrow-disable:hover {
                background-color: transparent !important;
            }