
/* || Base Page Layout */
html { 
    scroll-behavior: smooth;
    scrollbar-color: var(--font-color) var(--bg-color);
    font-family: sans-serif;
}
body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    line-height: 1.5;
    text-align: center;
}

/* || Header elements */
main > header {
    background-color: var(--bg-color);
    margin: 0;
    padding: 1rem 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-top: 0.2rem solid var(--border-color);
    border-bottom: 0.2rem solid var(--border-color);
}
h1 {
    margin: 0;
    padding: 0 1rem;
    font-size: 2.5rem;
}
#breadcrumbs {
    border-top: 0.2rem solid var(--border-color);
    background-color: var(--code-bg);
    background-image: linear-gradient(to right, var(--bg-color), transparent, transparent,  var(--bg-color));
    padding: 0.2em 0;
    overflow-x: auto;
}

h2 {
    margin-bottom: 0.3em;
    padding-bottom: 0.1em;
    border-bottom: 0.1rem solid var(--border-color);
}
/* section:has(> h2):not(:last-child) {
    border-bottom: 0.1em dotted var(--border-color);
} */

/* LaTeX resize */

.katex {
    font-size: 1em;
}



/* || Main and block elements */
/* page background */
#background {
    filter: var(--bg-image-filter);
    background-image: url('../images/teal.png');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}
main {
    padding: 1rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#content {
    background-color: var(--bg-color);
    border: 0.2rem solid var(--border-color);
    margin: 0;
    padding: 1rem;
    border-radius: 0.5em;
    width: 90%;
    text-align: left;
}
#content > :first-child * {
    margin-top: 0;
    padding-top: 0;
}

/* || Portarit change */
@media screen and (orientation: portrait) {
    #background {
        background-image: url('../images/hello.png');
    }
    #content {
        width: 95%;
    }
}

/* || In-line tags styles */
a:link {
    color: var(--link-link);
    text-decoration: none;
}
a:visited {
    color: var(--link-visited);
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: var(--link-active);
}
strong {
    color: var(--bold-color);
}
/* || Footer elements */
footer {
    background-color: var(--bg-color) !important;
    box-shadow: 0 0 0.5rem 0.2rem var(--bg-color) !important;
    border-top: 0.2rem solid var(--border-color);
}



/* Test Nav styles */
.test-nav {
    background-color: tan;
    border-radius: 2em;
    width: fit-content;
    padding: 1rem 1rem 0.5rem 2rem;
    box-shadow: inset 0 0 1em 1em rgba(0, 0, 0, 0.123);
}
.test-nav li {
    background-color: blanchedalmond;
    border-radius: 0.5em;
    margin: 1rem 0;
    padding: 0.4rem;
    color: maroon;
}
.test-nav::before {
    content: 'Various Links:';
    font-weight: bold;
    color: darkred;
    text-shadow: 1px 2px 2px rgb(50, 0, 0);
}
:is(.test-nav, footer) a:link {
    color: brown;
}
:is(.test-nav, footer) a:visited {
    color: rgb(180, 82, 47);
}
:is(.test-nav, footer) a:hover {
    color: maroon;
}
:is(.test-nav, footer) a:active {
    color: red;
}

/* Menu button */
.menu {
    cursor: pointer;
  background-color: darkkhaki;
  border: none;
  color: #270000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 0.5rem;
  box-shadow: inset 0 -0.05em 0.15em 0.05em rgba(128, 128, 128, 0.772);
}
.menu:active {
    box-shadow: inset 0 0 0.15em 0.05em rgba(128, 128, 128, 0.772);
}
:has(.menu[aria-expanded="false"]) .test-nav {
  display: none;
}

/* Test Foooter Styles */
.test-footer {
    width: 100%;
    background-color: blanchedalmond;
    box-shadow: 0 -5px 1rem blanchedalmond;
}


/* Footnotes */
