/* || Base Setup */
/* use BORDER BOX */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/* form normalization */
input, textarea, select, button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}
/* remove animations if needed */
/* @media screen and (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
    }
} */