
/*a: "amber",
  b: "blue",
  c: "cyan",
  d: "brown",
  e: "espresso",
  f: "fuchsia",
  g: "green",
  h: "hotpink",
  i: "indigo",
  j: "jade",
  k: "kiwi",
  l: "lime",
  m: "magenta",
  n: "navyblue",
  o: "orange",
  p: "purple",
  q: "pink",
  r: "red",
  s: "silver",
  t: "teal",
  u: "umber",
  v: "violet",
  w: "white",
  x: "gray",
  y: "yellow",
  z: "black", */

.flexible-marker {
    color: var(--bg-color);
    background-color: transparent;
}

.flexible-marker-default {
    background-color: var(--font-color);
}
.flexible-marker-red {
    background-color: red;
}

.flexible-marker-umber {
    color: inherit;
    text-decoration: underline;
}

.flexible-marker-lime {
    clip-path: circle(0);
    display: block;
    height: 0.3em;
}

.flexible-marker-blue {
    color: var(--font-color);
    text-shadow: 0.04em 0.04em var(--border-color);
}

.flexible-marker-cyan {
    display: block;
    color: var(--font-color);
    margin-bottom: 0;
    }
.flexible-marker-cyan::before {
    content: 'Mostra Codice ';
    cursor: pointer;
}
.code-show-next > .flexible-marker-cyan::before {
    content: 'Nascondi Codice ';
}
.flexible-marker-cyan::after {
    content: '>';
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    transform: rotate(180deg);
    transition: transform 0.5s;
}
.code-show-next > .flexible-marker-cyan::after {
    transform: rotate(90deg);
}

p:has(> .flexible-marker-cyan) + pre.astro-code {
    transition: max-height 0.7s, padding 0.3s 0.4s;
    max-height: 2000px;
}
p:has(> .flexible-marker-cyan):not(.code-show-next) + pre.astro-code {
    max-height: 0px;
    padding-block: 0;
}