.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    border: 0.1rem solid var(--border-color);
    width: fit-content;
    background-color: var(--border-color);
}
.table-wrapper:has(+ .table-wrapper) {
    border-bottom: 0;
}
table {
    background-color: var(--table-bg);
    text-align: center;
    padding: 0.4em 0.6em;
    max-width: 100%;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.4em;
}
table :is(td,th) {
    padding: 0.3em 0.5em;
}
table tbody td:not(:last-child) {
    border-right: 0.1em dashed var(--border-color);
}
thead th {
    border-bottom: 0.1em dashed var(--border-color)
}
tbody tr:nth-child(even) {
    background-color: var(--table-even);
}
tbody tr:nth-child(odd) {
    background-color: var(--table-odd);
}
table tr:hover {
    background-color: var(--bg-color);
}
